.webNam-P-C{
 color:var(--orange);
}

.menu-popup{
    position: fixed;
    width: 17%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    right: 35px;
    padding: 15px 15px;
    text-align: start;
    border-radius: 8px;
    z-index: 105;
}

.menu-item{
    color: var(--menu-item);
    text-decoration: none;
}

.menu-item a{
    color: var(--menu-item);
    text-decoration: none;
}

.menu-item:hover{
    background-color: var(--white-bg);
}

.menu-item a:hover{
    color: var(--blue-text);
}

.show{
    display: block;
}

.hidden{
    display: none;
}

@media screen and (max-width: 1199px) {
    .menu-popup{
        width: 20%;
    }
}
@media screen and (max-width: 991px) {
    .menu-popup{
        width: 25%;
    }
}
@media screen and (max-width: 767px) {
    .menu-popup{
        width: 34%;
    }
}
@media screen and (max-width: 575px) {
    .menu-popup{
        width: 40%;
    }
}