.webNam-P-C{
 color:orange;
}

.menu-popup{
    position: fixed;
    width: 15%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    right: 35px;
    padding: 15px 15px;
    text-align: start;
    border-radius: 8px;
    z-index: 105;
}

.menu-item{
    color: #7e8299;
    text-decoration: none;
}

.menu-item a{
    color: #7e8299;
    text-decoration: none;
}

.menu-item:hover{
    background-color: #f4f6fa;
}

.menu-item a:hover{
    color: #009ef7;
}

.show{
    display: block;
}

.hidden{
    display: none;
}