.table-list-pagination-btn {
    padding: 0.3rem 0.8rem;
    margin: 0.2rem;
    border-radius: 0.3rem;
    border: none;
    background: none;
    color: var(--paginate-btn);
}

.table-list-pagination-btn:hover{
    z-index: 2;
    color: var(--blue-text);
    background-color: var(--white-bg);
    border-color: transparent;
    cursor: pointer;
}

.table-list-active {
    background-color: var(--blue-text); 
    color: var(--white-bg);
    font-weight: bold;
    font-size: 1rem;
}

.pagination-btn-disable{
    background-color: transparent;
    cursor: default;
}
.pagination-btn-disable:hover{
    background-color: transparent!important;
    cursor: default !important;
    color: var(--black)!important;
}