.productList-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 25px;
}

.thumbnail-container{
    width  : 80%;
    height: auto;
}

.product-link{
    text-transform: uppercase;
    color: var(--black);
    text-decoration: none;
    font-weight: 400;
}

.product-link:hover{
    text-decoration: underline;
}

.product-category{
    text-transform: capitalize;
    color: var(--gray);
    font-weight: 400;
}

.star-img{
    width: 25%;
}


@media screen and (max-width: 575px) {
    .product-item{
      width: 100%;
    }
  }