.main-container{
  width: 85%;
  margin: auto;
  padding: 15px 10px;
}

@media screen and (max-width: 1199px) {
  .main-container{
    width: 90%;
  }
}

@media screen and (max-width: 991px) {
  .main-container{
    width: 95%;
  }
}

@media screen and (max-width: 767px) {
  .main-container{
    width: 100%;
  }
}